In [2]:
import pandas as pd

In [4]:
import io

In [1]:
string = "timestamp;f1-score\n1713964448.123456;0.8765432238578796\n1714015456.987654;0.6765432357788086\n1714070072.050505;0.7654321193695068\n1714132406.37126;0.5103787183761597\n1714132569.780939;0.5103787183761597\n1714133440.323075;0.7458450794219971\n1714133734.470814;0.5103787183761597\n1714133825.867822;0.5103787183761597"

In [5]:
df = pd.read_table(io.StringIO(string), sep=";")
df

      timestamp  f1-score
0  1.713964e+09  0.876543
1  1.714015e+09  0.676543
2  1.714070e+09  0.765432
3  1.714132e+09  0.510379
4  1.714133e+09  0.510379
5  1.714133e+09  0.745845
6  1.714134e+09  0.510379
7  1.714134e+09  0.510379